*~
*.orig
*.rej
*.o
*.gcno
*.gcda
.deps
.gdbinit
autom4te.cache
config.guess
config.log
config.status
Makefile
stamp-h1
libtool
extractaudio/extractaudio
extractaudio/extractaudio_debug
extractaudio/extractframes
src/rtpproxy
src/rtpproxy_debug
src/rtpp_objck
makeann/makeann
makeann/makeann_debug
src/config.h
src/config_std.h
libexecinfo/execinfo_TEST
libexecinfo/execinfo_check
libexecinfo/libexecinfo.a
*/Makefile
.libs
*.lo
*.la
.gdbinit*
python/sippy_lite/sippy/Time/clock_dtime.py
libucl/libucl.a
libucl/libucl_debug.a
libucl/libucl_test
/Makefile.in
/aclocal.m4
/config.guess
/config.sub
/configure
/doc/Makefile.in
/extractaudio/Makefile.in
/libexecinfo/Makefile.in
/libucl/Makefile.in
/ltmain.sh
/m4/libtool.m4
/makeann/Makefile.in
/modules/Makefile.in
/modules/acct_csv/Makefile.in
/modules/acct_rtcp_hep/Makefile.in
/modules/badmod/Makefile.in
/modules/catch_dtmf/Makefile.in
/pertools/Makefile.in
/pertools/udp_contention/Makefile.in
/src/Makefile.in
/src/config.h.in
/tests/Makefile.in
*.dirstamp
/pertools/udp_contention/udp_contention
