[Unit]
Description=The RTPproxy is a high-performance software proxy for RTP streams
Documentation=man:rtpproxy
After=network.target

[Service]
Type=forking
User=rtpproxy
Group=rtpproxy
RuntimeDirectory=rtpproxy
RuntimeDirectoryMode=775
EnvironmentFile=/etc/sysconfig/rtpproxy
PIDFile=%t/rtpproxy/rtpproxy.pid
ExecStart=/usr/bin/rtpproxy -p %t/rtpproxy/rtpproxy.pid $OPTIONS
ExecStop=/usr/bin/pkill --pidfile %t/rtpproxy/rtpproxy.pid
Restart=always

[Install]
WantedBy=multi-user.target
